<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat The Burger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="./assets/css/styles.css">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	<img src="https://i.ya-webdesign.com/images/cheeseburger-cartoon-png-3.png" alt="burger">
	{{{ body }}}
</body>
</html>
