body {
  background-color: rgb(215, 110, 145, 0.4);
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

.entering {
  text-align: center;
}

img {
  height: 300px;
}

li {
  list-style-type: none;
}

p {
  font-size: 25px;
}